.container-miniCard {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  border: 2px solid rgb(0, 0, 0);
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}

.miniCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.miniCard-title {
  font-size: larger;
}

.miniCard-img-top {
  height: 80px;
}

.miniCard-text {
  border: 1px solid black;
  padding: 1vh;
  font-size: 0.5em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

.miniCard-body {
  width: 100%;
  padding: 1vh;
}

.miniCard-body-atrb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1vh;
}

.miniCard-body-atrb p {
  font-size: 0.7em;
}

.miniCard-atrib {
  text-align: center;
  width: 14vw;
  color: white;
  background-color: black;
  border-radius: 15px;
}

.miniCard-classification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniCard-classification p {
  font-size: 0.8em;
}

.miniCard-atrib-trunf {
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: rgb(247, 96, 9);
  width: fit-content;
  padding: 5px;
  color: white;
}

.miniCard-atrib-class {
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px 0 15px 0;
  background-color: black;
  width: fit-content;
  padding: 5px;
  margin-top: 4vh;
  color: white;
}

@media screen and ( min-width : 768px ) {
  
  .miniCard-body-atrb p {
    font-size: 0.8em;
  }
  
  .miniCard-atrib {
    width: 7vw;
  }

  .miniCard-text {
    font-weight: 400;
  }
}

@media screen and ( min-width : 1024px ) {
  
  .miniCard-img-top {
    height: 110px;
  }
  
  .miniCard-text {
    font-size: 0.6em;
    text-align: justify;
  }
  
  .miniCard-body-atrb p {
    font-size: 0.8em;
  }
  
  .miniCard-atrib {
    width: 4vw;
  }

  .miniCard-text {
    font-weight: 400;
  }

  .miniCard-atrib-class {
    margin-top: 5vh;
  }

  .miniCard-classification p {
    font-size: 0.7em;
  }

  .miniCard-atrib-trunf {
    margin-top: 5vh;
  }

}

@media screen and ( min-width : 1440px ) {

  .miniCard-title {
    font-size: 1.7em;
  }
  
  .miniCard-img-top {
    height: 190px;
  }
  
  .miniCard-text {
    font-size: 0.9em;
  }
  
  .miniCard-body-atrb p {
    font-size: 1em;
  }

  .miniCard-classification p {
    font-size: 0.9em;
  }
}
